<!DOCTYPE html>
<html lang="en" ng-app="githubViewer">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="./scripts.js"></script>
    <title>Document</title>
</head>

<body ng-controller="MainController">
    <p>{{username}}</p>

    <!-- Expression, so we're using single-quote literal -->
    <!-- <div ng-include="'userdetails.html'" ng-show="user"></div> -->
    <div>
            <p>{{user.name}}</p>
            <img ng-src="{{user.avatar_url}}" />
            <select ng-model="repoSortOrder">
                <option value="+name">Name</option>
                <option value="-stargazers_count">Stars</option>
                <option value="+language">Language</option>
            </select>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                    <td>{{repo.name}}</td>
                    <td>{{repo.stargazers_count | number}}</td>
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table>

    {{ countdown }}
    <form name="searchUser" ng-submit="search(username)">
        <input type="search" required placeholder="Username to find" ng-model="username" />
        <input type="submit" value="Search" />
        <!-- Could also pass an argument into the ng-click easily -->
        <!-- <input type="submit" value="Search" ng-click="search(username)" /> -->
    </form>
</body>

</html>